{% extends 'base.html'%} {% load static %} {% block content %}

<!-- ======= Education Section ======= -->    
  <section id="about" class="resume" >
        <div class="container">
  
          <div class="section-title">
            <span>My Education</span>
            <h2>My Education</h2>
            <p></p>
          </div>
  
          <div class="row">
            <div class="col-lg-6">
              <h3 class="resume-title">Education</h3>
              <div class="resume-item">
                <h4>Master of Artificial Intelligence</h4>
              </br>
                <h5>2013 - 2016</h5>
                <p><em>Amirkabir University of Technology (Tehran Polytechnic), Tehran, Iran</em></p>
                <p></p>
              </div>
              <div class="resume-item">
              </br>
                <h4>Bachelor of Computer Science and Engineering </h4>
                <h4>(Software Engineering) </h4>
              </br>
                <h5>1988 - 2002</h5>
                <p><em>Azad University, Tehran, Iran</em></p>
                <p></p>
              </div>
            </div>
            <div class="col-lg-6">
              <img src="{% static 'img/3.jpg' %}" class="img-fluid" alt="">
            </div>
          </div>
  
        </div>
  </section>
<!-- End Education Section -->

<!-- ======= Language Section ======= -->
  <section id="Language" class="contact">
      <div class="container">

        <div class="section-title">
          <span>My Language</span>
          <h2>My Language</h2>
        </div>

        <div class="row">

          <div class="col-lg-6">
               <div class="info-box"> 
                  <img src="{% static 'img/en.jpg' %}" class="img-fluid" alt="">
                  <h3>Intermediate</h3>
                </div>
          </div>
          <div class="col-lg-6">
            <div class="info-box"> 
              <img src="{% static 'img/fr.jpg' %}" class="img-fluid" alt="">
               <h3>Intermediate</h3>
             </div>
       </div>
        </div>
      </div>
  </section>
<!-- End Language Section -->

{% endblock %}