{% extends 'base.html'%} {% load static %} {% block content %}

<!-- ======= Experience Section ======= -->    
<section id="about" class="resume" style="background-color: #c4c7c9;">
  <div class="container">
  
          <div class="section-title">
            <span>My Experiences</span>
            <h2>My Experiences</h2>
            <p></p>
          </div>
  
          <div class="row">
            <div class="col-lg-6">
              <div class="resume-item">
                <h4>Teaching Experiences</h4>
                <p>
                <ul>
                  <li><h5>2020 - Now </h5> Private Tutoring</li>
                  <li><h5>2018 - 2020</h5> Teacher, School of the Iranian Representation in Geneva, Switzerland</li>
                  <li><h5>2007 - 2012</h5> Computer Teacher, National Iranian Oil Company,  and the Municipality of Tehran, Tehran,Iran.</li>
                </ul>
                </p>
                
              </div>
              <div class="resume-item">
                <h4>Work Experiences</h4>
                <p>
                <ul>
                  <li><h5>2007 - 2012</h5> Computer Teacher, National Iranian Oil Company, Tehran,Iran.</li>
                  <li><h5>2006 - 2007</h5> Programmer, Ist-Ro-Asanbar Company</li>
                  <li><h5>2004 - 2006</h5> Programmer, Mehr-Rayaneh Company</li>
                </ul>
                </p>
                
              </div>
            </div>
            <div class="col-lg-6">
              <img src="{% static 'img/3.png' %}" class="img-fluid" alt="">
  
            </div>
          </div>
  
  </div>
</section>
<!-- End Experience Section -->

{% endblock %}